<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel="icon" href="{{url_for('static', filename='globe.png')}}"></link>

    <title>D3 Data Viz Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" href="{{  url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <style>
        body {
            background-image: url("{{url_for('static', filename='Background.png')}}")
        }
    </style>
</head>

<body>


    <div class="container">
        <br>
        <div class="container" style='font-family:"Gill Sans", "Gill Sans MT"; left: 0px'>
            <ul class="nav nav-pills nav-justified">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="/timeline"> Point Timeline </a></li>
                <li><a href="/span"> Span Timeline </a></li>

        </div>
        <br>
        <div class="jumbotron">
            <h1>D3 Data Visualizations</h1>
            <p>This page was created by the intern team at <abbr title="Great-Circle Tech">GCT</abbr>.</p>
        </div>

        <div class="well">
            <blockquote>
                <p>The concept of using pictures to understand data has been around for centuries, from maps and graphs in the 17th century to the invention of the pie chart in the early 1800s. Several decades later, one of the most cited examples of statistical
                    graphics occurred when Charles Minard mapped Napoleon’s invasion of Russia. The map depicted the size of the army as well as the path of Napoleon’s retreat from Moscow – and tied that information to temperature and time scales for
                    a more in-depth understanding of the event. It’s technology, however, that truly lit the fire under data visualization. Computers made it possible to process large amounts of data at lightning-fast speeds. Today, data visualization
                    has become a rapidly evolving blend of science and art that is certain to change the corporate landscape over the next few years.
                </p>
                <footer>Data Visualization - What it is and Why it Matters</footer>
            </blockquote>

            <p class="lead">These data visualizations use D3, jQuery, JavaScript, CSS, and HTML to visualize and contextualize a wide array of data.</p>
        </div>

    </div>


</body>

</html>
