<!DOCTYPE HTML>
<html>
<head>
  <title>Timeline</title>
  <link rel="icon" href="{{url_for('static', filename='calendar.png')}}"></link>

  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>

  <script src="{{ url_for('static', filename='js/jquery-ui.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/tether.min.js')}}"></script>


  <script src="{{ url_for('static', filename='js/randomColor.js')}}"></script>

  <script src="{{ url_for('static', filename='js/vis.min.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/vis.css')}}"/>

  <script src="{{ url_for('static', filename='js/d3.v3.js')}}"></script>
  <script src="{{ url_for('static', filename='js/d3-timeline.js')}}"></script>

  <script src="{{ url_for('static', filename='js/multiple-select.js')}}"></script>
  <link href="{{  url_for('static', filename='css/multiple-select.css')}}" rel="stylesheet" />



</head>
<style>

.vis-item .vis-item-overflow {
  overflow: visible;
}

</style>

<body>

  <div class="container" style='font-family:"Gill Sans", "Gill Sans MT"; left: 0px'>
    <ul class="nav nav-pills nav-justified">
      <li><a href="/" title="Home" data-toggle="tooltip">Home</a></li>
      <li class="active"><a href="/timeline"> Point Timeline </a></li>
<!--       <li><a href="/span"> Span Timeline </a></li>
 -->    </ul>
  </div>
<br>

<div class="container">

  <!-- Trigger the modal with a button -->

  <!-- Add Modal -->
  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span> Add an Object</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
<!--           <form role="form" id="addObj" action="{{ url_for('addrec') }}" method="POST">
 -->            <!--             <form role="form" id="addObj">  -->                    
            <div class="form-group">
              <label for="name"> New Object Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Object Name">
            </div>
            <div class="form-group">
              <label for="state">New Object Location</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="US State or Territory">
            </div>
            <div class="form-group">
              <label for="metadata"> New Object MetaData </label><br> <textarea class="form-control" name="meta" id="meta" placeholder="Description of Object" rows="4" cols="50"></textarea><br>
            </div>
            <div class="form-group" id="des"> </div>
            <div class="form-group" id="date"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-default pull-left" value="submit" id="addsub"><span class="glyphicon glyphicon-ok"></span> Add Object</button>
            <button type="cancel" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          </div>
<!--         </form>
 -->      </div>
    </div>
  </div>

  <!--         Remove Modal-->        
  <div class="modal fade" id="rmModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-trash"></span> Delete an Object</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
<!--           <form role="form" action="{{ url_for('rmrec')}}" method="POST">
 -->            <div id='rm'></div>
          </div>
          <div class="modal-footer">
            <button type="submit"  id="rmsub" class="btn btn-success btn-default pull-left" value="submit"><span class="glyphicon glyphicon-ok"></span> Delete Object</button>
            <button type="cancel" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          </div>
<!--         </form>
 -->      </div>
    </div>
  </div>

  <!--   Information Modal -->
 <div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Collapsed Items </h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
            <div style="width:500px;height:200px;overflow:auto;padding:5px;" id='info'></div>
          </div>
          <div class="modal-footer">
            <button type="cancel" class="btn btn-info btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Close </button>
          </div>
      </div>
    </div>
  </div>

  <!-- Update Modal -->
  <div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> Edit an Object</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
<!--           <form role="form" action="{{ url_for('editrec') }}" method="POST">
 -->
            <div id='up'></div>
          </div>
          <div class="modal-footer">
            <button type="submit"  id="upsub" class="btn btn-success btn-default pull-left" data-target="#"><span class="glyphicon glyphicon-ok"></span> Update Object</button>
            <button type="cancel" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
<!--           </form>
 -->        </div>
      </div>

    </div>
  </div>


  <!-- Options Modal -->
  <div class="modal fade" id="optionsModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-cog"></span> Display Options </h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
        <h4>Toggle Collapse</h4>
          <div id="toggleCol"><input type="checkbox" id="toggle" value="toggle" checked>Collapse Items<br></div> 
          <h4> Display Important Items </h4>
          <div id="showImpt" >
          </div>
          <h4> Change Selection </h4>
          <div id="select"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success pull-left" onclick="sort()"> <span class="glyphicon glyphicon-ok-sign"></span> Make Changes </button>
          <button type="cancel" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> Close </button>
        </div>
      </div>
    </div>
  </div>


</div>

<div text-align="center">
  <div id="timeline2" style="text-align:center; border: 0;"></div>
<div align="center"><button type="button" onclick="options()" class="btn btn-info">Options</button></div>
</div>
<br>
<div id="visualization"></div>


<script type="text/javascript">
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  var info = d3.json("/data", makeData);
  var width = 1000;
  var groupName = [];
  var groups = [];
  var colors = [];
  var prevNum = 0;
  var itemsRef = [];
  var items = [];
  var start = true;
  var timeline;
  var min, max;
  var importantList = [];
  var contents = [];
  var upCounter = 0;
  var range;
  var imp = true;
  var col = true;
  var selectLen = 0;

//loops through range and returns number of items in range
function getItemsInRange(min, max, range){
  var maxR = new Date(max).getTime()
  var minR = new Date(min).getTime()
  var c = 0;
  for(var a=0; a<range.length; a++){
    var it = new Date(range[a].start);
    if(it.getTime() < maxR && it.getTime() > minR){
      c++;
    }
  }
  return c;
}

  //Takes in a number between 0-11 and returns the month as a string
function monthName(num) {
  switch (num) {
    case 0:
      return "January";
      break;
    case 1:
      return "February";
      break;
    case 2:
      return "March";
      break;
    case 3:
      return "April";
      break;
    case 4:
      return "May";
      break;
    case 5:
      return "June";
      break;
    case 6:
      return "July";
      break;
    case 7:
      return "August";
      break;
    case 8:
      return "September";
      break;
    case 9:
      return "October";
      break;
    case 10:
      return "November";
      break;
    case 11:
      return "December";
      break;
  }
}


//creates global itemsRef which contains the raw database data, sorted chronologically
function makeData(theEvents){
  itemsRef = theEvents;
  prevNum = itemsRef.length;
  itemsRef.sort(function(a,b) { 
              return new Date(a.start).getTime() - new Date(b.start).getTime() 
            });
  makeTimeline(itemsRef);
}

//open the options modal on button click
function options(){
  $('#optionsModal').modal();
}

//process the data so it contains all necessary information/attributes
  function makeTimeline(theEvents){
    //items is a global variable and can contain different things based on selection of sort, etc
    items = theEvents;

    //creates an array of group names
    for(var i=0; i<items.length; i++){
      if(groupName.indexOf(items[i].className) == -1){
        groupName.push(items[i].className);
      }
    }
    //sorting the group names keeps colors consistens
    groupName.sort();
    //creating this hues list helps create distinguish colors
    var hues = ['red', 'green', 'yellow', 'blue', 'pink', 'purple', 'orange'];

    //creates group object with content, value and id and pushes it to groups
    for(var k =0; k< groupName.length; k++){
      var g = new Object();
      g.content = groupName[k];
      g.id = k;
      g.value = k;
      groups.push(g);
      //call from randomColor.js
      colors.push(randomColor({
        luminosity: 'dark',
        hue: hues[k % 6],
        seed: k
      }));
    }

    //reiterate through items and change groups into numeric values rather than content
    //this can be moved to be done on the backend
    for(var g=0; g<items.length; g++){
      var gn = items[g].className;
      //turns group based into a number
      items[g].group = groupName.indexOf(gn);
      //generates title for objects
      var str = items[g].content+" National "+items[g].className+" - " +items[g].subGroup +' - ' + items[g].start + ' - ' + items[g].metadata;
      items[g].title = str;
      items[g].style = 'color:white;background-color:'+colors[items[g].group]+';';
      //check if an item is marked important
      if(items[g].important == 'true' || items.important == true){
        //if object is important, push to importantlist
        importantList.push(items[g]);
        items[g].style += "font-weight:bold;";
      }
    }

    //generate grayed out important button if importantlist is empty
    if(importantList.length==0){
      var btn = '<button type="button" class="btn btn-default disabled">Show Important</button>'
      document.getElementById('showImpt').innerHTML = btn;
    }
    //active important button
    else{
      var btn = '<button type="button" onclick="sortImportant('+true+')" class="btn btn-default">Show Important</button>'
      document.getElementById('showImpt').innerHTML = btn;
    }


    //generate arrays of classes for sort method
    for(var a=0; a<groups.length; a++){
      var g = new Object();
      g.id = groups[a].id;
      g.group = groups[a];
      var tem = [];
      //TODO make this more efficient
      for(var b=0; b<items.length; b++){
        if(items[b].group == g.group.id){
          tem.push(items[b]);
        }
      }
      g.items = tem;
      contents.push(g);
    }

    //define minimum and maximum range of timeline as 10 years before first date/10 years after last date
    min = new Date(items[0].start).getTime() - 604800000*52*10;
    max = new Date(items[items.length-1].start).getTime() +604800000*52*10;
    range = new Date(items[items.length-1].start).getFullYear() - new Date(items[0].start).getFullYear()

    // Configuration for the Timeline
    var options = {
      //timeline heigh
      height: '700px',
      min: min,
      max: max,
      clickToUse: true,
      //users can't zoom past month
      zoomMin: 604800000*4*30,
      //drag groups to change order
      groupOrder: function (a, b) {
        return a.value - b.value;
      },
      groupOrderSwap: function (a, b, groups) {
        var v = a.value;
        a.value = b.value;
        b.value = v;
      },
      showCurrentTime: false,
      groupEditable: true,
      clickToUse: false,
      editable: {
        add: true,
        updateTime: false,
        updateGroup: false,
        remove: true
      },

      //callback function for adding an object
      onAdd: function (item, callback) {
        //create a string for the form that will auto-fill date/group based on click location
        desSTR ='<label for="des">Designation</label><br><select id="desSel" class="form-control" name="designation">';
        for(var i=0; i<groupName.length; i++){
          if(item.group == i){
            desSTR += '<option selected="selected" value="'+groupName[i]+'">'+groupName[i] +'</option>';
          }
          else{
            desSTR += '<option value="'+groupName[i]+'">'+groupName[i] +'</option>';
          }
        }
        desSTR += '</select>';
        document.getElementById('des').innerHTML = desSTR;
        //format the month so that the input field can process it
        var day, month, year;
        year = item.start.getFullYear();
        month = item.start.getMonth() +1;
        day = item.start.getDate();
        if(month < 10){
          month = '0' + month;
        }
        if(day < 10){
          day = '0' + day;
        }
        dateStr = year +'-'+month+'-'+day;
        var addDate ='<label for="date"> Date </label><br><input type="date" name="date" class="form-control" id="addDate" value="'+dateStr+'">'
        document.getElementById('date').innerHTML = addDate;
        //open add object modal
        $("#addModal").modal();
        //call ajax function and push info to the database
        $('#addsub').unbind().on('click', function(){
          $.ajax({
            url: "{{url_for('addrec') }}",
            method: "POST",
            data: {
              name: $('#name').val(),
              date: $('#addDate').val(),
              state: $('#state').val(),
              meta : $('#meta').val(),
              designation: $('#desSel').val()

          },
          success: function(){
            //change item data to modal fields
            $('#addModal').modal('hide');
            item.content = $('#name').val();
            item.subGroup = $('#state').val();
            item.start = $('#addDate').val();
            item.metadata = $('#meta').val();
            item.important =  false;
            var num = $('#desSel').val();
            item.group = groupName.indexOf(num);
            //add item to array and sort array
            items.push(item);
            items.sort(function(a,b) { 
              return new Date(a.start).getTime() - new Date(b.start).getTime() 
            });
            //update minor timeline
            makeD3Timeline(timeline);
            var last = ids.length -1;

          }
        })


        })

      },


      onUpdate: function (item, callback) {
        var orig = item.content
        var day, month, year;
        //configure start so that HTML date field will read it
        year = item.start.getFullYear();
        month = item.start.getMonth() +1;
        day = item.start.getDate();
        if(month < 10){
          month = '0' + month;
        }
        if(day < 10){
          day = '0' + day;
        }
        dateStr = year +'-'+month+'-'+day;
        //build string for modal
        var upSTR = '<label for="name"> Change Name </label><br><input type="text" name="name" class="form-control" id="upName" value="'+item.content+'">';
        upSTR += '<input type="hidden" name="origName" id="orig" class="form-control" value="'+item.content+'">';
        upSTR += '<label for="state"> Change Location </label><br><input type="text" name="state" class="form-control" id="upState" value="'+item.subGroup+'">';
        upSTR += '<label for="date"> Change Date </label><br><input type="date" name="date" class="form-control" id="upDate" value="'+dateStr+'">'
      upSTR += '<label for="metadata"> Change MetaData </label><br> <textarea class="form-control" id="upMeta" name="upMeta" rows="4" cols="50">'+item.metadata+'</textarea><br>'
      var impt = (item.important == "true" || item.important == true);
      //check or uncheck the important box
      if(impt){
        upSTR+=   '<input type="checkbox" id="impt" name="important" value="true" checked> <b>Important</b> <br>'
      }
      else{
        upSTR += '<input type="checkbox" id="impt" name="important" value="true"><b> Important</b> <br>'

      }
      // upSTR += '<input type="hidden" name="important" id="impt" value="false" checked>'
      document.getElementById("up").innerHTML = upSTR;
      //if the item is a regular item, open modal
      if(item.editable == undefined){
        $('#updateModal').modal();
      }
      //if item is collasped, generate info modal
      else{
        var s = new Date(item.start);
        var e = new Date(item.end);
        var inSTR = '<b>Range: </b> ' + s.toLocaleDateString() +' - ' + e.toLocaleDateString()+ '<br><b>Items not shown: </b><br><ul>';
        var list = item.contains;
        for(var i=0; i<list.length; i++){
          inSTR += '<li>' + list[i] + ' National '+item.className +' </li>';
        }
        inSTR += '</ul>'

        document.getElementById('info').innerHTML = inSTR;
        $('#infoModal').modal();
      }
      //ajax processing of updated item
      $('#upsub').unbind().on('click', function(){
        $.ajax({
          url: "{{url_for('editrec') }}",
          method: "POST",
          data: {
            name: $('#upName').val(),
            origName : $('#orig').val(),
            date: $('#upDate').val(),
            important: String($('#impt').prop("checked")),
            state: $('#upState').val(),
            meta : $('#upMeta').val()
          },
          success: function(){
            $('#updateModal').modal('hide');
            // var last = ids.length -1;
            // if(ids.indexOf(item.id) == last){
              item.content = $('#upName').val();
              item.subGroup = $('#upState').val();
              item.start = $('#upDate').val();
              item.metadata = $('#upMeta').val();
              item.important =  $('#impt').prop("checked").toString();
              // ids.push(item.id);
              if(item.important == 'true'){
                item.style = 'font-weight:bold;color:white;background-color:'+colors[item.group]+';';
              }
              else{
                item.style = 'color:white;background-color:'+colors[item.group]+';';
              }
              makeD3Timeline(timeline);
              // $('input').val('');

              //go through items and insert item
              for(var i=0; i<items.length; i++){
                if(orig == items[i].content){
                  items[i] = item;
                  break;
                }
              }

              callback(item);

            // }


          }
        })


      })
      
    },
    onRemove: function (item, callback) {
      //build remove string with item information
      rmSTR = "Are you sure you want to remove " + item.content + "?";
      rmSTR += '<br><input type="hidden" name="name" class="form-control" id="delName" value="'+item.content+'">';
      document.getElementById('rm').innerHTML = rmSTR;
      $('#rmModal').modal();
      //ajax call to delete item
      $('#rmsub').on('click', function(){
        $.ajax({
          url: "{{url_for('rmrec') }}",
          method: "POST",
          data: {
            name: $('#delName').val()
          },
          success: function(){
            $('#rmModal').modal('hide');
            callback(item);
            makeD3Timeline();
            //delete item
            //TODO: I'm not actually sure if this works
            for(var i=0; i<items.length; i++){
              if(items[i].id == item.id){
                items.splice(i, 1);
              }
            }
          }
        })


      })

    }


    };

    // Create a Timeline
    timeline = new vis.Timeline(container, items, groups, options);

      //processing collapsing
      timeline.on('rangechanged', function(properties){
      //redraw box on d3 timeline
      makeD3Timeline(timeline);

      //color everything.  catch-all in case things become uncolored
      for(var j=0; j<groupName.length; j++){
        $(".vis-item."+groupName[j]).css('background-color', colors[j]);
      }
      //if you are on Important View, get the value of the Toggle checkbox
      if(imp){
        var ch = $("#toggle").prop("checked");
      //if collaspe is toggled ON
      if(ch){
        var rg = timeline.getWindow();
        var min = rg.start;
        var max = rg.end;
        var num = getItemsInRange(min, max, itemsRef)
        //change is the ratio of items that were on the screen vs items now on the screen
        var change = prevNum / num;
        //if the range change is very small, don't make the sql call
        if( change < 1.02 && change > 0.97){
          // do nothing
        }
        //make the sql call
        else{
          //col is a variable used to prevent excessive checks
          col = true;
          max = max.getFullYear();
          min = min.getFullYear();
          var newRange = max - min;
          //if the range change is greater than 2 years
          //this is meant to prevent refreshing data when you move up and down or move and keep same general range
          if (Math.abs(range - newRange) > 2){
            //make JSON call
            $.getJSON( "/colData/"+num+'/'+max+'/'+min, function(data) {
              var content = [];
              for(var i=0; i<data.length; i++){
                //CASE 1: if you recieve a single point, process it into an object
                if(data[i].metadata){
                  var o = new Object();
                  o.content = data[i].content;
                  o.group = groupName.indexOf(data[i].className);
                  o.className = data[i].className;
                  o.metadata = data[i].metadata;
                  o.subGroup = data[i].subGroup;
                  o.important = data[i].important
                  o.start = new Date(data[i].start);
                  o.style = 'color:white;background-color:'+colors[o.group]+';';
                  if(o.important == 'true'){
                    o.style += 'font-weight:bold;';
                  }
                }
                //CASE 2: if you recieve a collasped point, process it into an object
                else{
                  var o = new Object();
                  o.content = data[i].content;
                  o.group = groupName.indexOf(data[i].className);
                  o.content += ' Items Collapsed';
                  o.className = data[i].className;
                  o.end = new Date(data[i].end);
                  o.start = new Date(data[i].start);
                  o.contains = data[i].contains;
                  o.editable = false;
                  o.style = 'color:black;background-color:'+colors[o.group]+';';
                }
                content.push(o);
              }
              //set prevNum/range so you can keep making comparisons
              prevNum = num;
              range = newRange;
              timeline.setData({
                items: content
              })
              // makeTimeline(content);
            })
          }
          //if you're zoomed in closer than 8 years, just uncollaspe everything no matter what
          else if(newRange < 8){
            //col will keep the data from being continually reloaded
            //otherwise it gets reloaded on every range change
            if(col){
              timeline.setData({
                items:itemsRef
              })
              col = false
            }
          }
        }
      }
      //if collaspe is toggled OFF, just load regular data
      else{
        //col will keep the data from being continually reloaded
        //otherwise it gets reloaded on every range change
        if(col){
          timeline.setData({
            items:itemsRef
          })

          col = false
        }
      }
      }

    })


    //make multiple selection tap in options Modal
    //documentation for the multiple select is here: http://wenzhixin.net.cn/p/multiple-select/docs/
    selStr = '<select multiple="multiple">'
    //feed in groups
    for(var i=0; i<groupName.length; i++){
      selStr += '<option value="'+i+'">'+groupName[i]+'</option>';
    }
    selStr += '</select> <br> ';
    document.getElementById('select').innerHTML = selStr;
    $('select').multipleSelect({
      width: 250
    });
    //check all of the select
    $('select').multipleSelect('checkAll');
    //get the number of checks
    //this will be used as a comparison later 
    selectLen = $('select').multipleSelect('getSelects');
    selectLen = selectLen.length;
    makeD3Timeline(timeline);

  }

//sort based on select
function sort(){
  $("#optionsModal").modal('hide');  
  //list of selected
  var select =  $('select').multipleSelect('getSelects');
  if(selectLen != select.length){
    //turn string array into int array
    for(var k=0; k<select.length; k++){
      select[k] = parseInt(select[k]);
    }
    var sorted = [];
    for(var i=0; i<items.length; i++){
      var j = items[i];
      if(select.indexOf(j.group) != -1){
        var obj = new Object();
        obj.content = j.content;
        obj.className = j.className;
        obj.group = j.group;
        obj.start = j.start;
        obj.subGroup = j.subGroup;
        sorted.push(obj);
      }

    }
    var selectGroup = [];
    for(var i=0; i<groups.length; i++){
      if(select.indexOf(groups[i].id) != -1){
        selectGroup.push(groups[i]);
      }
    }
    console.log(selectGroup);
    timeline.setData({
    items: sorted,
    groups: selectGroup
    });


  }

selectLen = select.length;

}

function sortImportant(bool){
  //CASE 1: Currently viewing all items, want to just see important
  if(bool){
      //toggle the button
      var btn = '<button type="button" onclick="sortImportant('+false+')" class="btn btn-default">Show All</button>'
      document.getElementById('showImpt').innerHTML = btn;
      var importantList = [];
      //re-make importantList
      for(var k=0; k<items.length; k++){
        if(items[k].important == 'true' || items[k].important == true){
          importantList.push(items[k]);
        }
      }
      //TODO: make an array of group objects that contain important items
      //set data
      timeline.setData({
        items: importantList,
        // groups: imptGroups
      })

      //toggle boolean so collasping doesnt work
      imp = false;
    }
    //CASE 2: Currently viewing only important items, want to view all
    else{
      timeline.setData({
        items: items,
        groups: groups
      })
      //toggle button
      var btn = '<button type="button" onclick="sortImportant('+true+')" class="btn btn-default">Show Important</button>'
      document.getElementById('showImpt').innerHTML = btn;
      //toggle boolean so collasping works
      imp = true;
    }

}


//make the minor timeline
//all the documentation for this timeline can be found at https://github.com/jiahuang/d3-timeline
function makeD3Timeline(timeline){
  //if the timeline already exists, delete it
  d3.select("#tl2").remove();

    //get the range 
    var ran = timeline.getWindow();
    var testData = [];
    //properly format data for D3 minor timeline
    //Each category is an object with an attribute 'times', which is then filled with the times
    //
    //TODO: this only needs to happen once
    var temp2 = [];
    for(var x=0; x< colors.length; x++){
      temp2 =[];
      var times = new Object();
      times.label = groupName[x];
      if(times.label == null){
        break;
      }
      for (var y=0; y<items.length; y++){
        var s = items[y];
        if(s.className == groupName[x]){
          var point = new Object();
          point.color = colors[x];
          point.display = "circle";
          point.name = s.content;
          point.id = s.id;
          point.starting_time = new Date(s.start).getTime();
          point.state = s.subGroup;
          temp2.push(point);  
        }
        times.times = temp2;
      }
      testData.push(times);
    }

    //make the svg rect object that shows where you're currently viewing on the map
    var start = new Date(ran.start);
    var end = new Date(ran.end);
    var point = new Object();
    point.starting_time = start.getTime();
    point.ending_time = end.getTime();
    // point.display = "rectangle";
    point.color = 'white';
    var tmp = [];
    tmp.push(point);
    var times = new Object();
    // times.label = 'View';
    times.times = tmp;
    testData.push(times);

  //make the tooltip
  var tooltip = d3.select("#timeline2")
  .append("div")
  .style("position", "absolute")
  .style("z-index", "10")
  .style("visibility", "hidden")
  .style("opacity", 0.5)
  .style("font-size", "0.75em")
  .text("");

  //make the timeline variable
  var chart = d3.timeline()
  .tickFormat( // ticks
  {
    format: d3.time.format("%Y"),
    tickTime: d3.time.years,
    tickInterval: 5,
    tickSize: 10
  })
  .stack() //make rows instead of dots on top of each other
  .itemHeight(10)
  .itemMargin(2)
  .mouseover(function(d, i, datum) {  //tooltip for mouseover on an object
    var dd = new Date(d.starting_time);
    var info = d.name + ' National '+ datum.label + ' - '+ d.state+' - '+ monthName(dd.getMonth()) + ' '+dd.getDate()+', '+dd.getFullYear();
    if(d.display == "circle"){
      return tooltip.style("visibility", "visible").text(info).style("left", event.clientX+'px').style("top", event.clientY+'px');
    }
  })
  .mouseout(function(d, i, datum) { //hides tooltip on mouseout
    return tooltip.style("visibility", "hidden");
  })
  .click(function(d, i, datum){ //recenters timeline on clicked object IF collapse is OFF
    timeline.focus(d.id, {animation: {duration: 2000, easingFunction: 'linear'}});
    return tooltip.style("visibility", "hidden");
  })
  .ending(new Date(items[items.length-1].start).getTime()); //end the timeline at the last date

  //actually call and create the timeline SVG object
  var svg = d3.select("#timeline2").append("svg").attr("width", width).attr("fill-opacity", .3).attr("align", "center").attr("id", "tl2")
  .datum(testData).call(chart);

  //Make the labels 100% opacity
  $('.timeline-label').attr("fill-opacity", 1);
  //Format the rect object so it properly fills the timeline
  $('.timelineSeries_4').css("stroke-width", 2);
  $('.timelineSeries_4').css("fill-opacity", 0);
  $('.timelineSeries_4').css("stroke", "black");
  $('.timelineSeries_4').attr("height", 70);
  $('.timelineSeries_4').attr("y", 25);
  $('.timelineSeries_4').css("stroke-opacity", 0.2);



}
</script>


</body>
</html>